/* Import root element */
@import url(/coles_project/cs__root.css);

/* Categories Slider */
.catagories__slider {
  background-color: #fefaf0;
}

/* Categories Slider Container */
.catagories__slider .container {
  padding: 0 48px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* Categories Slider Container Padding */
.catagories__slider-Container {
  padding: 24px 0;
  overflow-x: auto;
}

/* Hide scrollbar */
.catagories__slider-Container::-webkit-scrollbar {
  display: none;
}

/* Carousel Button Styles */
.carousel-btn {
  border: 1px solid var(--secondary-grey);
  background-color: var(--primary-white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  border-radius: 9999px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  z-index: 2;
  box-shadow: 0px 8px 16px rgba(33, 33, 33, 0.12);
  color: var(--body-color);
}

.carousel-btn:hover {
  background-color: var(--hover-color);
  border-color: var(--primary-textColor);
  color: var(--primary-color);
}

/* Next Button Position */
.catagories__carousel-btn.next-button {
  right: 30px;
}

/* Previous Button Position */
.catagories__carousel-btn.previous-button {
  left: 30px;
}

/* Hidden Carousel Button */
.carousel-btn.hidden {
  display: none;
}

/* Categories Carousel */
.catagories-carousel {
  display: flex;
  justify-content: left;
}

/* Carousel Item */
.carousel-item {
  flex: 0 0 11.1111%;
}

/* Carousel Item Link */
.catagories-carousel .carousel-item a {
  margin: 0 4px;
  height: 120px;
  padding-top: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 15px;
  cursor: pointer;
}

.catagories-carousel .carousel-item img {
  margin-bottom: 10px;
}

.catagories-carousel .carousel-item a:hover {
  text-decoration: underline;
}

.catagories-carousel .carousel-item a:focus {
  box-shadow: 0 0 0 2px var(--primary-white),
    0 0 0 4px var(--focus-border-color);
}

.catagories-carousel .carousel-item img {
  max-width: 64px;
  max-height: 64px;
}

/* Hero Carousel */
.hero__carousel {
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

/* Hero Carousel Container */
.hero__container {
  height: 476px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

/* Hero Carousel Slide */
.hero__carousel-slide {
  height: 100%;
  width: 100vw;
}

/* Hero Slide Wrapper */
.hero__slide-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  position: relative;
  user-select: none;
}

/* Hero Slide Text */
.hero__slide-text {
  padding: 3rem 3rem 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Slide Text Main */
.slide-text-main {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* Slide Text Lower */
.slide-text-lower {
  margin-top: 1rem;
}

/* Terms and Conditions Text */
.tnc-text {
  text-decoration: underline;
}

.tnc-text:hover {
  text-decoration: none;
}

/* Slide Text Header */
.slide-text-header {
  font-size: 2.6rem;
  letter-spacing: 0.32px;
  font-weight: 700;
  line-height: 3rem;
  white-space: wrap;
}

/* Slide Text Content */
.slide-text-content {
  font-size: 1.15rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin-top: 0.75rem;
}

/* Slide Text Button Container */
.slide-text-btn-container {
  margin-top: 2rem;
  display: inline-flex;
}

/* Slide Text Button */
.slide-text-btn {
  margin-bottom: 0.75rem;
  margin-right: 1rem;
}

/* Slide Text Button Hover Effects */
.slide-text-btn.primary-red-btn:hover {
  background-color: var(--primary-color-hover);
}

.slide-text-btn.primary-white-btn:hover {
  background-color: var(--hover-color);
}

.slide-text-btn.primary-white-outline-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Hero Slide Image */
.hero-slide-img {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* Hero Slide Image Overlay */
.hero-slide-img::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  height: 100%;
  width: 3rem;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 476' preserveAspectRatio='none'%3E%3Cpath d='M0 476C29.682 402.369 46 322.064 46 238C46 153.936 29.682 73.6313 0 0L0 476Z'/%3E%3C/svg%3E");
  z-index: 1;
}

/* Slide Image Grey Overlay */
.slide-img-grey::before {
  content: "";
  background-color: #323a41;
}

/* Slide Image Red Overlay */
.slide-img-red::before {
  content: "";
  background-color: var(--primary-color);
}

/* Slide Text Image */
.slide-text-img {
  height: 6.25rem;
  position: relative;
  margin-bottom: 1rem;
  max-width: 100%;
}

/* Slide Index */
.hero__index {
  pointer-events: none;
  position: absolute;
  margin: 0 auto;
  inset: 0;
  z-index: 1;
  display: block;
}

/* Slide Index Wrapper */
.hero__index-wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* Slide Index Container */
.hero__index-container {
  position: absolute;
  bottom: 18px;
  right: 40px;
  left: auto;
  transform: translate(0px, 0px);
  display: flex;
  padding: 1px;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(33, 33, 33, 0.12);
  border: 1px solid var(--secondary-grey);
  border-radius: 9999px;
  background-color: var(--primary-white);
  pointer-events: all;
}

/* Hero Index Button */
.hero_index-btn {
  cursor: pointer;
  border-radius: 9999px;
  border: 1px solid #ffffff00;
  background-color: #ffffff00;
  color: #ffffff00;
  font-size: 0px;
  height: 40px;
  width: 40px;
}

/* Hero Index UL Container */
.hero-index-ul-container {
  display: flex;
  margin: 0 10px;
}

/* Index Autoplay Control */
.index-autoplay-control {
  margin-right: 12px;
}

/* Index Button */
.index-btn {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ffffff00;
  background-color: #ffffff00;
  color: var(--primary-textColor);
  font-size: 0px;
  height: 24px;
  width: 24px;
}

/* Index Slide UL */
.index-slide-ul {
  display: flex;
  list-style: none;
  text-align: center;
}

/* Index Slide LI */
.index-slide-li {
  margin: 0 2px;
}

.index-slide-li:last-child {
  margin-right: 0px;
}

.index-slide-li:first-child {
  margin-left: 0px;
}
