/* Font Element */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Root */
:root {
  /* Font */
  --font-rem: 16px;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

/* Initialise the pesudo element */
*::before,
*::after {
  box-sizing: border-box;
}

/* Initialise the whole web pages */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

body {
  line-height: 1.625;
  font-size: var(--font-rem);
  color: #3a474c;
  background: rgb(238, 238, 238);
}

/* Initialise button */
button {
  text-align: center;
  text-shadow: none;
  text-indent: none;
  cursor: pointer;
  padding: 1px 6px;
}

/* Share Navigation*/
/* Header  */
header {
  display: block;
}

.header__container {
  position: sticky;
  min-width: 1008px;
  left: 0;
  top: 0;
  height: 144px;
  pointer-events: none;
  z-index: 900;
}

.header__core {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 88px;
  border-bottom: solid 1px #eee;
  z-index: 900;
}

.header__nav {
  margin-top: 0;
  position: relative;
  align-items: center;
  display: flex;
  height: 56px;
  background-color: #fff;
  z-index: 700;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0px 4px 12px -4px rgba(58, 71, 78, 0.15);
}

/* Header Core */
.header_item {
  padding: 0 24px;
  font-size: 12px;
  text-align: center;
}

.header__logo {
  /* This is the wws logo */
  width: 157px;
  display: flex;
  justify-content: flex-end;
  height: 48px;
  overflow: hidden;
}

.header__separator {
  width: 1px;
  height: 24px;
  border-right: solid 1px #c3c7c9;
  margin: 0 1px;
}

.header__explore-everyday {
  padding: 16px;
}

.header__menu-button {
  color: #3a474e;
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  height: 36px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.header__search {
  flex: 1;
}
