:root {
  /* Primary Color */
  --primary-color: #e01a22;
  --primary-textColor: #212121;
  --body-color: #3d3d3d;
  --primary-white: #ffffff;
  --hover-color: #f5f5f5;
  --secondary-grey: #e0e0e0;
  --focus-border-color: #3872e6;
  --primary-color-hover: #b9091d;
  --border-round: 9999px;
}

/* Initalisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--body-color);
  font-weight: 400;
  background-color: var(--primary-white);
  line-height: 1.5;
  /* 10000px */
  height: 10000px;
}

:focus-visible {
  outline-color: var(--focus-border-color);
}

/* Flexbox Utilities */
.flex {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Section */
.header__container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  z-index: 999;
  position: relative;
  background-color: var(--primary-white);
}

.header_wrapper-sub {
  background-color: var(--primary-white);
}

.header__main {
  max-width: 1440px;
  /* Padding change on Media */
  padding: 0 3rem;
  margin: 0 auto;
  background-color: var(--primary-white);
  gap: 6px;
  height: 80px;
}

/* Header Logo */
.header__logo {
  height: 32px;
  padding: 2px;
}

.header__logo img {
  height: 32px;
  width: 103px;
}

/* Header Search Bar */
.header__searchBar-Container {
  padding: 1rem 1.625rem 0px;
  flex: 1;
}

.header__searchBar-searchBox {
  position: relative;
}

/* Header Search Bar Input --- */
.header__searchBox-form {
  width: 100%;
}

.header__searchBox-input {
  border-radius: var(--border-round);
  background-color: var(--hover-color);
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  border: 1px solid #8d8d8d;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  width: inherit;
  color: var(--primary-textColor);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.header__searchBox-input:hover {
  background-color: var(--primary-white);
}

.header__searchBox-input:focus {
  border: 2px solid var(--focus-border-color);
}

.header__searchBox-input:focus:hover {
  border-color: var(--primary-textColor);
}

/* Header Search Bar Button --- */
.header__searchBox-btn {
  background-color: transparent;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 2;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  text-align: left;
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-round);
  color: var(--primary-textColor);
  padding: 8px;
}

.header__searchBox-btn:hover {
  border-color: var(--primary-textColor);
}

/* Header button  */
.header__button-Container {
  display: flex;
  gap: 6px;
  align-self: flex-end;
}

.header__button {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0.75rem 0.125rem 0px;
  color: var(--primary-textColor);
  border-radius: 4px;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.32px;
  font-weight: 400;
  height: 3.6rem;
  min-width: 3.5rem;
  background-color: var(--primary-white);
}

.header__button:hover {
  text-decoration: underline;
  background-color: var(--hover-color);
  cursor: pointer;
}

.header__button:active {
  background-color: #e0e0e0;
}

/* Shopping Cart */
.header__shoppingCart {
  display: flex;
  cursor: pointer;
  border: 0.0625rem solid var(--secondary-grey);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0px;
  padding: 0.5rem 1.25rem;
  border-radius: var(--border-round);
  align-items: center;
  align-self: flex-end;
  margin-bottom: 0.5rem;
  gap: 6px;
}

.header__shoppingCart:hover {
  background-color: var(--hover-color);
}

.header__shoppingCart:active {
  background-color: var(--secondary-grey);
}

/* Header Navigation */
.header__sub {
  /* Animation in js to slide down */
  border-bottom: 1px solid var(--secondary-grey);
  transform: translateY(0px);
  transition: transform 0.3s cubic-bezier(0.1, 0, 0.2, 1) 0s;
  background-color: var(--primary-white);
}

.header__sub.closed {
  transition: transform 0.15s ease 0s;
  transform: translateY(-100%);
  box-shadow: var(--shadows-sm, 0px 4px 8px rgba(33, 33, 33, 0.12));
}

/* Navigation Bar */
.header__nav {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-white);
  max-width: 1440px;
  /* Change Padding accordingly on media */
  padding: 8px 3rem 0 3rem;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.1s ease-in 0.2s;
}

.header__nav.disable {
  opacity: 0;
}

.header__nav-ul {
  display: flex;
  white-space: nowrap;
  list-style: none;
  line-height: 48px;
  margin-left: -12px;
  margin-bottom: 8px;
}

.header__nav-product {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 12px;
  color: var(--primary-textColor);
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
}

.header__nav-product:hover {
  text-decoration: underline;
  background-color: var(--hover-color);
}

.header__nav-product:active {
  background-color: var(--secondary-grey);
}

.header__nav-product:first-child {
  font-weight: 700;
}

.header__nav-ul svg {
  color: var(--primary-color);
  margin-right: 8px;
}

/* Coles Plus */
.header__nav-colesplus {
  display: block;
  padding: 0 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.header__nav-colesplus img {
  min-width: 84px;
  height: 28px;
  margin-top: 5px;
  margin-right: 6px;
}

.header__nav-colesplus:hover {
  background-color: var(--hover-color);
}

/* Location Setting */
.header__location {
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: var(--primary-textColor);
  background-color: var(--primary-white);
  text-align: left;
  height: 3rem;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  cursor: pointer;
  gap: 8px;
  min-width: 186.16px;
}

.header__location:hover {
  background-color: var(--hover-color);
}

.header__location:active {
  background-color: var(--secondary-grey);
}

/* Text Design */
.xsm-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.32px;
}

.white-text {
  color: var(--primary-white);
}

/* Button utility */
.primary-btn {
  padding: 0.5rem 1.25rem;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0px;
  border-radius: var(--border-round);
  cursor: pointer;
  outline: none;
  text-align: left;
  text-decoration: none;
  align-items: center;
  border: 0.0625rem solid transparent;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
}

.primary-red-btn {
  background-color: var(--primary-color);
  color: var(--primary-white);
}

.primary-white-btn {
  border-color: var(--secondary-grey);
  background-color: var(--primary-white);
  color: var(--primary-textColor);
}

.primary-white-outline-btn {
  background-color: transparent;
  color: var(--primary-white);
  border-color: var(--primary-white);
}

/* Price Sign Utility */
.fixed-price-sign-red {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white);
  width: 140.8px;
  height: 140.8px;
  border: 3px solid var(--primary-white);
  box-shadow: 0px 0px 0px 0.1875rem var(--primary-white);
  color: var(--primary-textColor);
  padding: 0.25rem;
  border-radius: var(--border-round);
}

.fixed-price-sign {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white);
  width: 140.8px;
  height: 140.8px;
  border: 3px solid var(--primary-white);
  box-shadow: 0px 0px 0px 0.1875rem var(--primary-white);
  color: var(--primary-textColor);
  padding: 0.25rem;
  border-radius: var(--border-round);
}

.price-sign-text-hd {
  letter-spacing: -0.03125rem;
  margin-top: -0.4375rem;
  font-size: 2.125rem;
  font-weight: 900;
  text-align: center;
  line-height: 2.225rem;
}

.price-sign-text {
  letter-spacing: 0;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.6rem;
}

.letter-spacing-md {
  letter-spacing: 1px;
}

/* Color Utility */
.grey-bg {
  background-color: #323a41;
  color: var(--primary-white);
}

.red-bg {
  background-color: var(--primary-color);
  color: var(--primary-white);
}

/* Dot utility */
.pagination-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: var(--border-round);
  border: 2px solid var(--primary-textColor);
}

.pagination-dot:hover {
  background-color: var(--primary-textColor);
}

.pagination-dot.selected {
  background-color: var(--primary-textColor);
}
